h1 {
  color: #87CEFA;
  font-size: 40px;
  font-weight: bold;
}

p {
  color: #A0522D;
  font-size: 20px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button4 {border-radius: 12px;}
