<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align:center">
  <h1>
    Welcome to CSIM Department!
  </h1>
  <br>
  <img src="https://www.cs.ait.ac.th/images/csim-150.gif" width="200" height="200">
  <br>
  <br>
  <br>
  <p><a routerLink="/"><i class="fa fa-home" style="font-size: 1.5em;color:#DDA0DD"></i> Homepage</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/courses"><span class="glyphicon glyphicon-book" style="color:#DDA0DD;"></span>  CSIM Courses</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/map"><span class="glyphicon glyphicon-phone-alt" style="color:#DDA0DD;"></span>  Contact us</a></p>
  <br>
  <br>
 </div>

<!--<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
-->
<router-outlet></router-outlet>
